html {
    scroll-behavior: smooth;
}

body
{
    --theme-background0: 34, 34, 34;
    --theme-background1: 51, 51, 51;
    --theme-background2: 69, 69, 69;
    --theme-background3: 0, 102, 255;

    font-family: 'Jost';

    background-color: rgb(var(--theme-background0));
    color: white;
    margin: 0 !important;
    padding: 0 !important;
}



.d-flex
{
    display: flex;
}

.mb-sep
{
    margin-bottom: 1rem;
}

.header
{
    top: 0px;
    position: sticky;
    margin: 0 auto;
    width: 100%;
    border-radius: 0px;
    margin-bottom: 12px;
    background: rgba(var(--theme-background1), 0.95); 
    box-shadow: 0 1px 0px rgba(255,255,255,0.1);
    backdrop-filter: blur(16px);
}

.logo {
    height: 32px;
    display: inline-block;
}

.header-container
{
    padding: 8px !important;
}

.container
{
    width: 720px;
    margin: 0 auto;
}

@media only screen and (min-width: 720px)
{
    .mobile-only
    {
        display: none;
    }

    .desktop-only {
    }
}

@media only screen and (max-width: 720px) {
    .container
    {
        width: 95%;
        margin: 0 auto;
    }

    .header{
        width: 100%;
        margin: 0;
    }

    .menu-item{
        display: block;
    }

    .mobile-only {
    }

    .desktop-only {
        display: none;
    }
}

.menu
{
    padding: 0px 0px;
}

.mobile-menu
{
    background: rgb(var(--theme-background0));
    padding: 12px;
    margin-bottom: 12px;
}

.menu img
{
    vertical-align: middle;
    margin: 8px;
}

.list-items
{
    margin: auto;
    margin-right: 0px;
}

.menu-item
{
    border-radius: 8px;
    padding: 8px 24px;
    vertical-align: middle;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;

    transition: all 0.1s;
}

.menu-item:hover
{
    color:white;
    background-color: rgb(var(--theme-background3));
}

.dl-item
{
    display: flex;
    border-radius: 8px;
    padding: 8px 12px;
    vertical-align: middle;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;

    transition: all 0.1s;
}

.dl-item:hover
{
    background-color: #FFFFFF30;
}

.icon-dl 
{
    margin-right: 4px;
}

.code
{
    background: rgb(var(--theme-background2));
    border: 1px solid #555555;
    border-radius: 4px;
    color: white;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.0;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

.link-download
{
    padding: 0px 12px;
    text-align: left;
}

.latest-release-lbl
{
    font-weight: normal;
}

.release-info
{
    margin-bottom: 12px;
}

/* --- Elements ------------------------------------------------------------- */

/* Classic cards */

.card
{
    background-color: rgb(var(--theme-background1));
    border-radius: 6px;
    margin-bottom: 12px;
    overflow: hidden;
}

.card-header
{
    background: rgb(var(--theme-background2));
    padding: 12px 24px 12px 24px;
    margin-bottom: 12px;
}

.card-content
{
    padding: 0px 12px 0px 12px;
}

.card-content-list
{
    padding: 0px 12px 12px 12px
}

.card-content-text{
    padding: 0px 12px 12px 12px;
}

.card h1
{
    font-size: 24px;
}

/* ghost card */

.ghost-card
{
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;

    padding: 12px 24px;
    margin-bottom: 12px;

    border-color:dimgrey;
    color: dimgrey;
}

.ghost-card h3
{
    margin-bottom: 2px;
}

/* release card */
.card-release 
{
    background: rgb(var(--theme-background3));
    padding: 12px 24px;
    margin-bottom: 12px;
}

#release-list-div
{
    display: flex;
}

/* image card */

.image
{
    padding: 0px;
}

.image img
{
    width:100%;
}

.image-description
{
    padding: 4px;
    text-align: center;
    color: #c1c1c1;
}

/* --- Modifiers ------------------------------------------------------------ */

.blue {
    border-color:#06f;
    color: #06f;
}

.white
{
    color: white;
}

.raised {
    box-shadow: 0 4px 20px rgba(0,0,0,0.23);
}

.overable
{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

.overable:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.23);
}
