@font-face {
    font-family: "Futura PT";
    src: url("assets/FuturaPTDemi.otf");
}

body{
    background-color: whitesmoke;
    font-family: sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}

.header
{
    top: 16px;
    position: sticky;
    border-radius: 16px;
    background-color: whitesmoke;
    margin: 0 auto;
    width: 720px;
    box-shadow: 0px -16px 0px 16px whitesmoke;
}

.container
{
    width: 720px;
    margin: 0 auto;
}

@media only screen and (min-width: 720px)
{
    .mobile-only
    {
        display: none;
    }

    .desktop-only {

    }
}

@media only screen and (max-width: 720px) {
    .container
    {
        width: 95%;
        margin: 0 auto;
    }

    .header{
        width: 95%;
        margin: 0 auto;
    }

    .menu-item{
        display: block;
    }

    .mobile-only {
    }

    .desktop-only {
        display: none;
    }
}


.menu
{
    padding: 0px 0px;
    margin-top: 16px;
}

.menu img {
    vertical-align: middle;
    margin: 8px;
}

.menu-item
{
    border-radius: 8px;
    padding: 8px 24px;
    vertical-align: middle;
    font-family: "Futura PT";
    text-transform: uppercase;
    color: black;
    text-decoration: none;

    transition: all 0.1s;
}

.menu-item:hover {
    color:white;
    background-color: #06f;
}

.code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.0;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

.link-download {
    padding: 64px 16px;
    text-align: left;
}

/* --- Elements ------------------------------------------------------------- */

/* Classic cards */

.card
{
    background-color: white;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 16px;
    overflow: hidden;
}

.card h1
{
    font-family: "Futura PT";
    font-size: 24px;
}

/* ghost card */

.ghost-card {
    border-width:1px;
    border-style:solid;
    border-radius: 4px;

    padding: 8px;
    margin-top: 8px;

    border-color:dimgrey;
    color: dimgrey;
}

.ghost-card h1{
    font-family: "Futura PT";
    font-size: 14px;
    margin-bottom: 8px;
}

/* image card */

.image
{
    padding: 0px;
}

.image img
{
    width:100%;
}

.image-description
{
    padding: 4px;
    font-family: serif;
    text-align: center;
    color: rgb(71, 71, 71);
}

/* --- Modifiers ------------------------------------------------------------ */

.blue {
    border-color:#06f;
    color: #06f;
}

.raised {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.overable
{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

.overable:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
