/**
  * Code taken from https://www.alsacreations.com/astuce/lire/1177-Une-feuille-de-styles-de-base-pour-le-Web-mobile.html and adapted to our website
  */

@media (max-width: 640px) {
	* {
		box-sizing: border-box;
	}

	body {
		width: auto;
		margin: 0;
		padding: 0;
	}

	img,
	table,
	td,
	blockquote,
	code,
	pre,
	textarea,
	input,
	iframe,
	object,
	embed,
	video {
		max-width: 100%;
	}

	img {
		height: auto;
	}

	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word;
	}

	code,
	pre,
	samp {
		white-space: pre-wrap;
	}

	/* Hides some elements on a mobile display */
	/* .our_element {
		float: none;
		width: auto;
	} */

	.hide_mobile {
		display: none !important;
	}
}