@font-face {
    font-family: "Futura PT";
    src: url("assets/FuturaPTDemi.otf");
    }

body
{
    font-family: sans-serif;
    padding: 30px;
    margin: auto;

    margin: auto;
    overflow-y: scroll;
    width: 700px;
}

.title
{
    font-family: 'Futura PT';
    font-size: 64pt;
    padding: 16px;
}

.tagline
{
    font-size: 16pt;
    color: #444;
    display: inline-block; 
}

.navbar
{
    top: 0;
    width: 100%;
    position: sticky;
    
    font-family: 'Futura PT';
    text-transform: uppercase;
    box-shadow: 0px 8px 8px #fff;
    background-color: #fff;
}

.notselected
{
    color: #444;
    background-color: transparent;
    
    display: inline-block; 
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.selected
{
    color: #fff;
    background: #0066CC;
    box-shadow: 0px 8px 32px rgba(0, 102, 204, 0.5);
    display: inline-block; 

    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.page
{
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.post-content h1
{
    font-family: 'Futura PT';
}

.post-content h2
{
    font-family: 'Futura PT';
}

.post-content h3
{
    font-family: 'Futura PT';
}


.post-title 
{
    font-family: 'Futura PT';
}